.containermain {
    width: 700px;
    margin: auto;
}
.container {
    background-color: grey;
    width: 700px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    color: blanchedalmond;
}

.icon1 {
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
}
.icon2 {
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: right;
}
.icon3 {
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
}
.cont2ins {
    float: right;
}
.icon4 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
.icon5 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
.icon6 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
.icon7 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
.cont3in {
    float: right;
}
.icon8 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
}
.icon9 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    float: left;
}
.icon10 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}
.icon11 {
    background-color: black;
    margin: 10px;
    width: 50px;
    height: 50px;
    display: inline-block;
    vertical-align: top;
}

.icon12 {
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 200px;
    display: inline-block;
    vertical-align: top;
}
.container4 {
    background-color: grey;
    width: 700px;
    height: auto;
    display: inline-block;
    vertical-align: top ;
    margin-bottom: 50px;
    color: blanchedalmond;
    text-align: center;
    
}
.cont4in {
    display: inline-block;
    vertical-align: top;
}
.icon13 {
    background-color: black;
    margin: 10px;
    width: 100px;
    height: 100px;

}
.icon14 {
    background-color: black;
    margin: 10px;
    width: 100px;
    height: 100px;

}
.icon15 {
    background-color: black;
    margin: 10px;
    width: 200px;
    height: 200px;
    float: left;
}
.container5 {
    background-color: grey;
    width: 700px;
    height: auto;
    display: inline-block;
    vertical-align: top;
    margin-bottom: 50px;
    color: blanchedalmond;
}
.cont5in {
    float: right;
}
.icon16 {
    background-color: black;
    margin: 10px;
    width: 100px;
    height: 100px;

}
.icon17 {
    background-color: black;
    margin: 10px;
    width: 100px;
    height: 100px;

}
.cont6in {
    display: inline-block;
    vertical-align: top;
}

